@model Autentication_crud.ViewModels.NewUserViewModel
@{
    ViewData["Title"] = "NewUser";
}

<h1 class="text-center text-primary">Registrar nuevos usuarios en el Sistema</h1>
<hr style="background:white" />

<body style="background:#2e2d2d">
    <div class="container-fluid" style="color:white">
        <div class="row" style="margin-top:50px">
            <div class="col-md-6">
                <form asp-action="NewUser" method="post" enctype="multipart/form-data">
                    @*<div class="modal-body">*@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="col-form-label"></label>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="LastName" class="col-form-label"></label>
                                <input asp-for="LastName" class="form-control">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h3>Seguridad de Cuenta</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="UserName" class="col-form-label"></label>
                                <input asp-for="UserName" placeholder="Ingrese un Usuario" class="form-control">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="UserPassword" class="col-form-label"></label>
                                <input asp-for="UserPassword" type="password" placeholder="Ingrese una Contrasenia" class="form-control">
                                <span asp-validation-for="UserPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    @*</div>*@
                    <div>
                        @if (TempData["mensajeRegistradoExiste"] != null)
                        {
                            <div class="alert alert-warning alert-dismissible fase show" role="alert">
                                @TempData["mensajeRegistradoExiste"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <a asp-action="RegisteredUsers" class="btn btn-secondary">Cancelar</a>
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    </div>

                </form>
            </div>
            <div class="col-md-6">
                <img src="~/img/developerUser.png" height="450" />
            </div>
        </div>
    </div>
</body>

@*Validación del lado del cliente*@
@section Scripts{ 
    @{ <partial name="_ValidationScriptsPartial"/>}
}